{% extends "WypozyczalniaBundle:layout.html.twig" %}
{% block title %}Do zobaczenia!{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-8">
            <div class="panel panel-default ">
                <div class="panel-heading"> <strong class=""><center>Do zobaczenia!</center></strong>             
				</div>

                </div>
                </div>
                </div>
{% endblock %}